<div class="d-none-lg header">
  <span class="span-icon" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
  <a class="" href="#"><span class="header-logo">L</span>e-<span class="header-logo">B</span>on-<span class="header-logo">P</span>lan</a>
</div>