
<nav class="sidenav" id="mySidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <ul class="">
        <li>
          <form class="offset-1 col-11">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fas fa-search"></i></div>
                </div>
                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Search">
              </div>
          </form>
        </li>
        <li class="">
          <a class="" href="/">Acceuil</a>
        </li>
        <li class="">
          <a class="" href="/signup">S'inscrire</a>
        </li>
        <li class="">
          <a class="" href="/login">login</a>
        </li>
    </ul>
</nav>
