<section class="section-signup">
  <div class="div-title">
    <h2>Ajoutez un offre</h2>
  </div>
  <div class="div-form">
    <form enctype="multipart/form-data" action='/add/offre' method='POST'>
          <ul>
              <li class="list-form">
                <label for="title"><i class="fas fa-user"></i></label>
                <input type="text" class="" name="title" id="title" placeholder="Titre de l'annonce">
              </li>
              <li class="list-form">
                <label for="description"><i class="fas fa-user"></i></label>
                <textarea name="description" id="description" placeholder="Ajouter une description" cols="10" rows="1
                "></textarea>
              </li>
              <li class="list-form">
                <label for="price"><i class="fas fa-user"></i></label>
                <input type="text" class="" name="price" id="price" placeholder="Prix souhaiter">
              </li>
              <li class="list-form">
                <label for="ville"><i class="far fa-envelope"></i></label>
                <select id="select-city" name="city">
                    <option value="">-- Choisir le ville d'annonce --</option>
                </select>
              </li>
              <li class="form-row align-items-center">
                <div class="col-auto pictur-input">
                    <i class="fas fa-camera"></i>
                    <input type="file" name="photos" />
                </div>
                <div class="col-auto pictur-input">
                    <i class="fas fa-camera"></i>
                    <input type="file" name="photos" />
                </div>
                <div class="col-auto pictur-input">
                    <i class="fas fa-camera"></i>
                    <input type="file" name="photos" />
                </div>
                <div class="col-auto pictur-input">
                    <i class="fas fa-camera"></i>
                    <input type="file" name="photos" />
                </div>
              </li>
          </ul>
          <button type="submit" class="">Submit</button>
    </form>
  </div>
<section>