

<section class="section-login">
  <div class="div-title">
      <h2>Connectez vous</h2>
  </div>
  <div class="div-form">
    <form action='/login' method='POST'>
      <ul>
        <li class="list-form">
          <label for="username"><i class="fas fa-user"></i></label>
          <input type="text" class="" name="username" id="username" placeholder="Non d'utilisateur">
        </li>
        <li class="list-form">
          <label for="password"><i class="fas fa-unlock-alt"></i></label>
          <input type="" class="" name="password" id="password" placeholder="Mot de passe">
        </li>
      </ul>
       <button type="submit" class="">Submit</button>
     </form> 
  </div>
</section>