<section class="section-signup">
  <div class="div-title">
    <h2>Inscrirez vous et choppez votre bon plan</h2>
  </div>
  <div class="div-form">
    <form enctype="multipart/form-data" action='/signup' method='POST'>
          <ul>
              <li class="pictur-input">
                <i class="fas fa-camera"></i>
                <input type="file" name="image" />
              </li>
              <li class="list-form">
                <label for="username"><i class="fas fa-user"></i></label>
                <input type="text" class="" name="username" id="username" placeholder="Nom d'utilisateur">
              </li>
              <li class="list-form">
                <label for="Surname"><i class="fas fa-user"></i></label>
                <input type="text" class="" name="Surname" id="Surname" placeholder="Nom de famille">
              </li>
              <li class="list-form">
                <label for="email"><i class="far fa-envelope"></i></label>
                <input type="email" class="" name="email" id="email" placeholder="Email">
              </li>
              <li class="list-form">
                <label for="password"><i class="fas fa-unlock-alt"></i></label>
                <input type="password" class="" name="password" id="password" placeholder="Mot de passe">
                {{#if error.email}}<small class="error">{{error.email}}</small>{{/if }}
              </li>
              <li class="list-form">
                <label for="passwordComfirm"><i class="fas fa-unlock-alt"></i></label>
                <input type="password" class="" name="passwordComfirm" id="passwordComfirm" placeholder="Confirmation mot de passe">
                {{#if error.passwordComfirm}}<small class="error">{{error.passwordComfirm}}</small>{{/if }}
              </li>
          </ul>
          <button type="submit" class="">Submit</button>
    </form>
  </div>
<section>
{{!-- <i class="fas fa-calendar-alt"></i> --}}
